includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src
        - config
        - database
    excludePaths: 
        - '**/*Test.php'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

